html {
overflow: hidden; /*hide .html*/
overflow-y: scroll; /*force vertical scroll bar*/

/*center background image*/
  background: url(images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
/*center background image*/
font-family: "Arial", Times, sans-serif;
}

/* set up two colomns */
#leftcolumn { width: 380px; float: left; margin-right: 20px;display:inline;}
#centercolumn { width: 380px; float: left; margin-right: 20px; display:inline;}
#rightcolumn { width: 400px; float: right}
.clear { clear: both;}
.container { width:1200px;margin:0 auto; }
.cube      { width:150px; height:150px; float:left; overflow:hidden; }
hr{padding: px; margin: 0px;}

a:link {color:blue;text-decoration:none;}      /* unvisited link */
a:visited {color:blue;text-decoration:none;}  /* visited link */
a:hover {color:blue;text-decoration:underline;}  /* mouse over link */
a:active {color:blue;text-decoration:underline;}  /* selected link */
